@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
  }

  body {
    @apply h-full w-full dark:bg-primary bg-slate-50 ease-in duration-300;
  }
}

@layer components {
  .social-btn {
    @apply border-2 relative ease-in duration-300 dark:border-slate-400 border-l_primary hover:border-buttons_primary dark:hover:border-buttons_primary px-3 py-3 rounded-full cursor-pointer;
  }
  
  .social-btn:hover{
    @apply  shadow-[0_0_5px_#00eaff];
    /* text-shadow: 0 0 5px #00eaff; */
    }

  .social-svg {
    @apply dark:fill-slate-400 fill-l_primary ease-in duration-300 group-hover:fill-buttons_primary w-5 h-5;
  }

  .hireMe-btn {
    @apply overflow-hidden no-animation relative flex items-center justify-center dark:text-buttons_primary text-l_primary capitalize font-medium text-[15px] py-1 w-fit px-5;
  }

  .section {
    @apply sm:h-screen h-[90vh]  pt-16 lg:pr-2 lg:pt-20 px-4 sm:px-10;
  }

  .badg-box{
    @apply bg-gradient-to-l text-gradient w-fit py-[1px];
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  }
  .badg{
    @apply flex items-center text-text_primary font-light py-1 px-2 bg-primary uppercase;
    width: calc(100% + .3px);
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  }

  .nav-bar-ul{
    @apply bg-gradient-to-t text-gradient flex items-center justify-center;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  }
  .nav-bar-li{
    @apply bg-primary py-5 xs:px-3 px-2 w-[calc(100%-2px)];
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  }

  .line-shape{
    @apply dark:bg-cyan-400 bg-primary h-28 w-full absolute bottom-0 left-0 ease-in duration-300;
    clip-path: polygon(30% 91%, 100% 91%, 100% 94%, 20% 94%, 18% 100%, 2% 100%, 0px 91%);
  }

  .contact-btn{
    @apply ease-in duration-300 flex items-center dark:text-primary dark:bg-buttons_primary text-l_exstra_text bg-primary font-medium text-lg w-fit px-6 py-3.5 mt-16 text-center;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);

  }
  .clipath{
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  }

  .inputCnt{
    @apply  block py-3 px-0 w-full text-gray-900 bg-transparent appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 ;
  }
  .labelCnt{
    @apply ease-in duration-300 font-light absolute dark:text-white/85 text-l_primary  transform -translate-y-6 scale-75 top-1 -z-10  peer-focus:text-l_primary peer-focus:dark:text-white/60 peer-focus:text-[17px] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:-translate-x-2;
  }
  .labelBtmBorder{
    @apply  to-50% bg-right-bottom peer-focus:bg-left-bottom transition-all ease-in-out duration-500 w-full h-[2.5px] bg-gradient-to-r;
  }
  .iconCnt{
    @apply text-2xl font-semibold stroke-error_primary mr-1;
  }
}

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative  ease-in duration-300 overflow-hidden bg-gradient-to-b dark:from-slate-700 from-l_exstra_text dark:to-slate-800 to-l_exstra_text;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      #00eaff97 0deg,
      #a64bf066 20deg,
      #8d62b066 30deg,
      transparent 80deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)]  dark:bg-primary bg-l_exstra_text ease-in duration-300;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
  }

  .text-gradient{
    @apply from-[#00eaffca] via-indigo-500 to-purple-500;
  }
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
          #11998e,
          #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
          #11998e,
          #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purple-text-gradient {
  background: #a413a9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
          #cc37ed,
          #a413a9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
          #cc37ed,
          #a413a9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-text-gradient {
  background: #c1ce19;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
          #ddab15,
          #e3da2f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
          #ddab15,
          #d6ee25);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-text-gradient {
  background: #e41818;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
          #f51100,
          #eb3c3c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
          #f51100,
          #eb3c3c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
          #2f80ed,
          #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
          #2f80ed,
          #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
          #ec008c,
          #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
          #ec008c,
          #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #6366F1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366F1ad;
}

::-webkit-scrollbar-thumb:active {
  background: #6366F166;
}

::-webkit-scrollbar-corner {
  background: transparent;
}